.buttons {
    padding-top: 20px;
    display: flex;
    gap: 5px;

}

 .buttons  button {
    height: 32px;
    border: none;
    padding-inline: 12px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.1s linear ;
}

.passive {
    color: #363636;
    background-color: #e5e7eb;
}

.active {
    color: white;
    background-color: #3C82F6;
}

.delete {
    border: none;
    color: #EF4444;
    font-size: 14px;
    padding: 6px 12px;
    margin-left: auto;
    border-radius: 6px;
    cursor: pointer;
    background-color: #FEF2F2;
    transition:   all 0.1s linear ;
}

.delete:hover {
    transform: scale(1.01);
    background-color: #FEE2E2;
}