

.main {
    width: 377px;
    padding: 24px 16px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 2px #00000050;

}

.title {
 font-size: 20px;
 font-weight: 600;
 line-height: 28px;
 text-align: center;
 padding-bottom: 20px;
}

.inputSection {
    gap: 5px;
    width: 100%;
    height: 40px;
    display: flex;
}

.inputSection input{
    flex: 1;
    border: 1px #E4E4E7 solid;
    padding: 8px 16px;
    border-radius: 6px;
    outline: none;
}

.inputSection input:focus {
    border: #2463EB 2px solid;
}

.inputSection button{
    color: white;
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #3C82F6;
}

.inputSection button:active {
    transform: scale(1.05);
}

.powered {
    padding-top: 40px;
    color: #6B7280;
    font-size: 12px;
    text-align: center;
}

.span {
 font-size: 12px;
 color: #3B73ED;
}

.tasks {
    list-style-type: none;
}

.noTask {
    color: #6b7280;
    font-size: 14px;
    padding-top: 30px;
    text-align: center;
}

.li {
    gap: 10px;
    min-width: 100%;
    min-height: 62px;
    font-size: 14px;
    max-width: fit-content;
    padding: 16px;
    display: flex;
    align-items: center;
   list-style-type: none;
   border-radius: 6px;
   background-color: #F9FAFB;
   transition: all 0.3s linear ;
   overflow: hidden;
   margin-block: 20px;
}

.completedT {
    text-decoration: line-through;
}

.li:hover {
    background-color: #F3F4F6 ;
    transform: scale(1.01);
}

.li input {
    width: 20px;
    height: 20px;
}

.clear {
    display: flex;
    align-items: baseline;
    border-top: 1px solid #E5E7EB;
    padding-top: 10px;
    color: #6B7280;
    font-size: 14px;
    font-weight: 500;
}

